<h3>基本情報</h3>

<ul>
  <li><%= link_to 'GREE Ads Reward 管理画面', 'https://reward.gree.net/a/partner', target: '_blank' %></li>
  <li><%= link_to 'アカウント関連', 'https://docs.google.com/spreadsheets/d/1CmxVXqNcVFu3YIGF_Tx4cJLG1s9kO0-ZoL8-G0Hu0C4/edit#gid=595402311', target: '_blank' %></li>
</ul>

<h3>手動登録の方法</h3>

