<section class="content-header">
  <h2>ネットワーク一覧</h2>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-body">
      <%= render 'list' %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>

