<section class="content-header">
  <h2>管理 (開発用)</h2>
  <p>※後で、このページにログイン制限をかけること。</p>
</section>

<section class="content">
  <h3>管理ユーザー管理</h3>

  <div class="row">
    <div class="col-md-4">
      <%= link_to 'ユーザー登録', new_admin_user_registration_path, :class => 'btn btn-default btn-block' %></li>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</section>

