<section class="content-header">
  <h2>管理 (開発用)</h2>
</section>

<section class="content">
  <h3>管理ユーザー管理</h3>

  <div class="row">
    <div class="col-md-4">
      <p>ログインしている状態でユーザー登録ができるようにする。</p>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</section>

