<section class="content-header">
  <h2>管理画面</h2>
</section>

<section class="content">
  <h3>機能一覧 (管理画面)</h3>

  <p>
    <a href="https://docs.google.com/spreadsheets/d/1EwFBZvvLpWIZ7LGICl8pTkBne5JVgVHdbouCFmZUuuQ/edit?usp=sharing" target="_blank" class="btn btn-default"><i class="fa fa-angle-double-right"></i> 詳細な機能一覧</a>
  </p>

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-success">
        <div class="box-header with-border">
          <h3 class="box-title">作成済み</h3>
        </div>
        <div class="box-body">
          <ul>
            <li>ログイン、ログアウト</li>
            <li>ユーザー管理</li>
            <li>キャンペーン管理</li>
            <li>メディア管理</li>
            <li>ネットワーク管理 (登録、編集画面手抜き)</li>
            <li>クリック履歴記録、表示</li>
            <li>手動成果通知</li>
            <li>ポイント管理</li>
            <li>商品管理</li>
            <li>ギフト券手動登録</li>
            <li>ギフト券購入 (エラー処理が手抜き)</li>
            <li>アドクロ成果通知受信</li>
          </ul>
        </div>
      </div>
    </div><!-- /.col-* -->
    <div class="col-md-4">
      <div class="box box-solid box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">作成中</h3>
        </div>
        <div class="box-body">
          <ul>
            <li>グロッサム成果通知受信</li>
          </ul>
        </div>
      </div>
    </div><!-- /.col-* -->
    <div class="col-md-4">
      <div class="box box-solid box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">未着手</h3>
        </div>
        <div class="box-body">
          <ul>
            <li>Zucks 成果通知受信</li>
            <li>レポート表示</li>
            <li>ユーザー一覧ページング</li>
            <li>ユーザー検索、フィルター</li>
            <li>キャンペーン一覧ページング</li>
            <li>キャンペーン検索、フィルター</li>
          </ul>
        </div>
        <div class="box-footer">
          <ul>
            <li>ネットワーク管理の見た目調整</li>
            <li>不要な URL の整理</li>
          </ul>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <h3>Android アプリ</h3>

  <p>
    <a href="https://docs.google.com/spreadsheets/d/1qosACSAKrMi2S9Q6SLPDi3o9jLLx912spw3lIZWHAqg/edit#gid=1845092692" target="_blank" class="btn btn-default"><i class="fa fa-angle-double-right"></i> 画面機能</a>
  </p>

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">開発版</h3>
        </div>
        <div class="box-body">
          <ul>
            <li>起動時のユーザー登録</li>
            <li>案件一覧表示</li>
            <li>案件詳細表示</li>
            <li>案件実行</li>
            <li>ポイント表示</li>
            <li>ポイント履歴表示</li>
            <li>ポイント交換</li>
          </ul>
        </div>
        <div class="box-footer">
          残件
          <ul>
            <li>ギフト券表示</li>
            <li>カテゴリー毎の案件表示</li>
            <li>案件表示設定</li>
            <li>デザイン</li>
          </ul>
        </div>
        <div class="box-footer">
          <a class="btn btn-primary" href="http://qi.kyuuki.jp/reward/reward.apk">
            <i class="fa fa-download"></i> Download</span>
          </a>
        </div>
      </div>
    </div><!-- /.col-* -->
    <div class="col-md-4">
      <div class="box box-solid box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">本番版</h3>
        </div>
        <div class="box-body">
          作成中
        </div>
        <div class="box-footer">
          <a class="btn btn-primary disabled" href="#">
            <i class="fa fa-download"></i> Download</span>
          </a>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <h3>ドキュメントなど</h3>

  <ul>
    <li><a href="https://www.facebook.com/groups/1545071585729204/" target="_blank">Facebook グループ</a></li>
    <li><a href="https://drive.google.com/folderview?id=0B_kIBfTzU6CRRHJ1MnZvVWFlZE0&usp=sharing#list" target="_blank">Google ドキュメント</a></li>
  </ul>

</section>

