section.content-header
  h2 管理画面

section.content

  .row
    .col-md-6
      .box.box-solid.box-success
        .box-header.with-border
          h3.box-title Android アプリ

        .box-body
          ul
            li
              a href="https://docs.google.com/spreadsheets/d/1qosACSAKrMi2S9Q6SLPDi3o9jLLx912spw3lIZWHAqg/edit#gid=1845092692" target="_blank" 画面機能
            li
              a href="https://docs.google.com/spreadsheets/d/1EwFBZvvLpWIZ7LGICl8pTkBne5JVgVHdbouCFmZUuuQ/edit#gid=1887879622" target="_blank" 機能一覧

        .box-footer
              a.btn.btn-success< href="http://omotesando.s3.amazonaws.com/android/app-production-release.apk"
                i.fa.fa-download
                | Download (本番)

              a.btn.btn-success< href="http://omotesando.s3.amazonaws.com/android/app-staging-release.apk"
                i.fa.fa-download
                | Download (ステージング)

    .col-md-6
      .box.box-solid.box-warning
        .box-header.with-border
          h3.box-title 管理画面

        .box-body
          ul
            li
              a href="https://docs.google.com/spreadsheets/d/1EwFBZvvLpWIZ7LGICl8pTkBne5JVgVHdbouCFmZUuuQ/edit#gid=619612354" target="_blank" 機能一覧

        .box-footer
          ul
            li
              a href="https://reward-production.herokuapp.com/" target="_blank" 本番
              ul
                li
                  a href="https://papertrailapp.com/systems/reward-production/events" target="_blank" Papertrail
                li
                  a href="https://rpm.newrelic.com/accounts/1134924/applications/12813739" target="_blank" New Relic
            li
              a href="https://reward-staging.herokuapp.com/" target="_blank" ステージング
              ul
                li
                  a href="https://papertrailapp.com/systems/reward-staging/events" target="_blank" Papertrail
                li
                  a href="https://rpm.newrelic.com/accounts/1114752/applications/11613386" target="_blank" New Relic

  hr

  .row
    .col-md-4
      .box.box-solid.box-primary
        .box-header.with-border
          h3.box-title 機能一覧

        .box-body
          ul
            li
              a href="https://docs.google.com/spreadsheets/d/1EwFBZvvLpWIZ7LGICl8pTkBne5JVgVHdbouCFmZUuuQ/edit#gid=1887879622" target="_blank" Android アプリ
            li
              a href="https://docs.google.com/spreadsheets/d/1EwFBZvvLpWIZ7LGICl8pTkBne5JVgVHdbouCFmZUuuQ/edit#gid=1814331233" target="_blank" サーバー
            li
              a href="https://docs.google.com/spreadsheets/d/1EwFBZvvLpWIZ7LGICl8pTkBne5JVgVHdbouCFmZUuuQ/edit#gid=619612354" target="_blank" 管理画面

    .col-md-4
      .box.box-solid.box-primary
        .box-header.with-border
          h3.box-title ドキュメント

        .box-body
          ul
            li
              a href="https://www.facebook.com/groups/1545071585729204/" target="_blank" Facebook グループ
            li
              a href="https://drive.google.com/drive/u/0/folders/0B_kIBfTzU6CRRHJ1MnZvVWFlZE0" target="_blank" Google ドキュメント

    .col-md-4
      .box.box-solid.box-primary
        .box-header.with-border
          h3.box-title ソースコード

        .box-body
          ul
            li
              a href="https://github.com/goodxjp/reward-server/commits/master" target="_blank" サーバー
            li
              a href="https://github.com/goodxjp/reward-android/commits/master" target="_blank" Android アプリ


