<section class="content-header">
  <h2>開発用ページ</h2>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Android アプリ （開発版）</h3>
        </div>
        <div class="box-body">
          <a class="btn btn-primary" href="http://qi.kyuuki.jp/reward/reward.apk">
            <i class="fa fa-download"></i> Download</span>
          </a>
        </div>
      </div>
    </div><!-- /.col-sm-6 -->
  </div><!-- /.row -->
</section>

