<section class="content-header">
  <h2>開発用ページ</h2>
</section>

<section class="content">
  <ul>
    <li>
      <a href="http://qi.kyuuki.jp/reward/reward.apk">
        Android アプリ （開発版）
        <span class="glyphicon glyphicon-download"></span>
      </a>
    </li>
  </ul>
</section>

