<section class="content-header">
  <h2>キャンペーン別レポート</h2>
</section>

<section class="content">
  <p>期間を選択できるようにする。</p>

  <div class="box box-default">
    <div class="box-body">
      <%= render 'campaigns_list' %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>

