<section class="content-header">
  <h2>売上レポート</h2>
</section>

<section class="content">
  <p>月を選択できるようにする。</p>

  <div class="box box-default">
    <div class="box-body">
      <%= render 'list' %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>

