<section class="content-header">
  <h2>オファー一覧</h2>
</section>

<section class="content">
  <p>金額や条件などが変更された際に追跡できるように、掲載した全ての案件をオファーとして保持しておく。案件管理者は触らない。</p>

  <div class="box box-default">
    <div class="box-body">
      <%= render 'list' %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>

