<section class="content-header">
  <h2>オファー詳細</h2>
</section>

<p id="notice"><%= notice %></p>

<section class="content">
  <div class="box box-default">
    <div class="box-header">
    </div>
    <div class="box-body">
      <%= render 'form' %>
    </div>
  </div>
</section>

