<section class="content-header">
  <h2>メディア登録</h2>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-header">
      <p>将来的にはメディアキーを自動で生成するように。今は一つだけだから、とりあえずこのままで。</p>
    </div>
    <div class="box-body">
      <%= render 'form' %>
    </div>
  </div>
</section>

